amqp==2.3.2
aniso8601==4.0.1
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
Click==7.0
Flask==1.0.2
Flask-RESTful==0.3.6
irods-capability-automated-ingest==0.3.4
itsdangerous==1.1.0
Jinja2==2.10
kombu==4.2.2
MarkupSafe==1.1.0
minio==4.0.8
prettytable==0.7.2
progressbar2==3.38.0
python-dateutil==2.7.5
python-irodsclient==0.8.1
python-redis-lock==3.2.0
python-utils==2.3.0
pytz==2018.7
redis==2.10.6
scandir==1.9.0
six==1.12.0
structlog==18.2.0
urllib3==1.24.1
vine==1.1.4
Werkzeug==0.14.1
xmlrunner==1.7.7
