amqp==5.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
billiard==4.2.1
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
defusedxml==0.7.1
irods-capability-automated-ingest==0.6.0
kombu==5.4.2
minio==7.2.10
prettytable==3.11.0
progressbar2==4.5.0
prompt_toolkit==3.0.48
pycparser==2.22
pycryptodome==3.21.0
python-dateutil==2.9.0.post0
python-irodsclient==2.2.0
python-redis-lock==4.0.0
python-utils==3.9.0
redis==4.6.0
six==1.16.0
structlog==24.4.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.6.3
vine==5.1.0
wcwidth==0.2.13
