version: '3'

services:
  some-redis:
    image: redis
    hostname: redis
    networks:
      default:
        aliases:
          - redis

  icat:
    build:
      context: icat
      args:
        postgres_password: testpassword
    hostname: catalog.example.org
    networks:
      default:
        aliases:
          - catalog.example.org

  irods-catalog-provider:
    build:
      context: provider
      args:
        irods_version: 4.3.3-0~jammy
        irods_version_major_minor: 4.3
        py_version: 3
    hostname: icat.example.org
    networks:
      default:
        aliases:
          - icat.example.org
    volumes:
      - shared_volume:/data/ufs
    depends_on:
      - icat

  ingest-test:
    build:
      context: test
    environment:
      - "PIP_PACKAGE"
      - "TEST_CASE"
      - "IRODS_PORT"
      - "IRODS_HOST"
      - "IRODS_USER_NAME"
      - "IRODS_ZONE_NAME"
      - "IRODS_ENVIRONMENT_FILE"
      - "IRODS_PASSWORD"
    volumes:
      - shared_volume:/data/ufs
    depends_on:
      - some-redis
      - irods-catalog-provider

volumes:
    shared_volume:
